{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Kadir Has University" %} | Help Desk{% endblock %}

{% block device_area %}

<center>
    <br><br>
    <img src="{{ STATIC_URL }}logo.jpg" alt="Khas Logo" width="320" height="320">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <br/>  
    
    {% if error %}
        <p style="color: red;">{% trans "Please Enter a Valid Search Key" %}</p>
    {% endif %}

        <form class="form-search" action="device/status/" method="get">
         <br/><br/>
        {{SearchForm}}
        <input type="text" class="input-xxlarge search-query" name="q">
            <button class="btn" type="submit" value="Search">{% trans "Search" %}</button>

    </form>
</center>

{% endblock %}

