{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Kadir Has University" %} | Help Desk{% endblock %}

{% block device_area %}

<center>
    <br><br>
    <img src="{{ STATIC_URL }}logo.jpg" alt="" width="320" height="320">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <br/>  

<form class="form-search" action=""> 
  <br><br>
  <input type="text" class="input-xxlarge search-query">
    <button class="btn" type="button">{% trans "Search" %}</button>
</center>

{% endblock %}